Source: ros-hydro-rosh
Section: misc
Priority: extra
Maintainer: Dan Lazewatsky <dan@lazewatsky.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-rosgraph, ros-hydro-rosmsg, ros-hydro-rosnode, ros-hydro-rosparam, ros-hydro-rospy, ros-hydro-rosservice, ros-hydro-rostest, ros-hydro-rostopic, ros-hydro-rosunit
Homepage: http://ros.org/wiki/rosh
Standards-Version: 3.9.2

Package: ros-hydro-rosh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ipython, ros-hydro-rosgraph, ros-hydro-roshlaunch, ros-hydro-rosmsg, ros-hydro-rosnode, ros-hydro-rosparam, ros-hydro-rospy, ros-hydro-rosservice, ros-hydro-rostopic
Description: rosh is a Python-based scripting and runtime environment for ROS. Through rosh and its various plugins, you can interact with ROS APIs in an introspectable and unified approach.
