Source: ros-indigo-rosh-core
Section: misc
Priority: extra
Maintainer: Dan Lazewatsky <dan@lazewatsky.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/rosh_core
Standards-Version: 3.9.2

Package: ros-indigo-rosh-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-rosh, ros-indigo-roshlaunch
Description: Main ROSH scripting and interpreter environment.
